rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isBlumeCoreOwner() {
      return request.auth != null
        && request.auth.uid == "Vkp7vtLHSuPZyXU8ohOZqvRoeE22";
    }

    match /{document=**} {
      allow read, write: if isBlumeCoreOwner();
    }
  }
}
